body {
    margin: 0px;
  }
  
  .header {
    padding-top: 28px;
    padding-bottom: 95px;
    margin: 0px;
    width: 100%;
    position: relative;
    background-image: url("images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index:0;
    
  }
  
  .header:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index:-1;
    }
  
  .logo {
    width: 200px;
  }
  
  .navigation {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 1154px;
    align-items: center;
  }
  
  .menu {
    margin: 0px;
    padding: 0px 0px 0px 0px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
  }
  
  .menu_1 {
    font-family: OpenSans, sans-serif;
    font-size: 13px;
    color: #ffffff;
  }
  
  .menu_li {
    margin-right: 34px;
  }
  
  .menu_li:last-child {
   margin-right: 0px;
  }
  
  @font-face {
    font-family: OpenSans;
    src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
    font-style: normal;
  }
  
  @font-face {
    font-family: OpenSans;
    src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
    font-style: normal;
    font-weight: bold;
  }
    
  
  
  .header__1 {
    font-family: OpenSans, sans-serif;
    font-size: 45px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 100px;
    text-align: center;
    line-height: 170%;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    
  }

  .new_block_trend_header {
    font-family: OpenSans, sans-serif;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 64px;
  }

  .new_block_trend_header:after{
    content:"";
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
    width: 66px;
    height: 3px;
    background: #e1d9bd;
  }
  

  .new_blok_trend {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: OpenSans, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    box-sizing: border-box;
    
  }

  .trend_contanier {
    width: 24.9%;
    min-height: 320px;
    box-sizing: border-box;
    display: flex;
    align-items:flex-end;
    padding: 20px;

  }


  .conrent_trend {
    font-size: 20px; 
    color: #ffffff;
    
  }

  .conrent_trend:hover {
    color:  #b59f5b;
  }

  .trend_contanier_text {
    border: 2px solid #b59f5b;
    padding: 36px 30px;
    
  }

  .trend_contanier_b1 {
    background-image: url("images/trend1.jpg");
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index:0;
    
  }
  .trend_contanier_b2 {
    background-image: url("images/trend2.jpg");
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index:0;
  }
  .trend_contanier_b3 {
    background-image: url("images/trend3.jpg");
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index:0;
  }
  .trend_contanier_b4 {
    background-image: url("images/trend4.jpg");
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index:0;
  }

  .trend_contanier:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index:-1;
    }

  .content {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 64px;
    padding-left: 15px;
    padding-right: 15px;
    
  }

  .travel_1 {
    display: flex;
    font-family: OpenSans, sans-serif;
    margin-bottom: 56px;
    
   }

   .contanier { 
    margin-left: 30px;
    box-sizing: border-box;
    display: block;
    padding: 0px;
  
  }

  .main {
    max-width: 762px;
  }
  
  .image {
    width: 381px;
  }
  
  .subtitle {
    text-transform: uppercase;
    font-weight: bold;
    color: #b59f5b;
    font-size: 14px;
    padding-top: 0px;
  }
  
  .ul_subtitle {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    padding-top: 0px;
    padding-left: 0;
    margin-top: 0;
  }
  
  .li_contanier {
   margin-right: 19px;
   box-sizing: border-box;
  }
  
  .li_contanier:last-child {
    margin-right: 0px;
  }
  
  .time_author {
    margin-top: 0px;
  }
  .paragraph {
    font-size: 15px; 
  }
  
  .paragraph:first-of-type {
    margin-top: 50px;
  }
  
  .header__2 {
    font-family: OpenSans, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #0f0d0e;
    font-weight: bold;
    font-size: 20px;
    line-height: 110%;
    margin-top: 0px;
  }
  
  .date {
    color: #888888;
    font-size: 12px;
  }
  
  .author {
    font-family: OpenSans, sans-serif;
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    margin-left: 13px;
  }
     
  
  a {
    text-decoration: none;
  }

  .colum {
    width: 270px;
    margin-left: 90px;
    font-family: OpenSans, sans-serif;
   
  }

  .new_post {
    margin-bottom: 18px;
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  
  .new_post_imag {
    width: 71px;
  }
  
  .new_post_content_all {
    box-sizing: border-box;
    display: block;
    margin-left: 19px;
    padding: 0px;
  }
  
  .new_post_cont {
    font-family: OpenSans, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
    font-size: 14px;
    line-height: 110%;
  }
  
    
  .new_post_content {
    color: #000000;
  }
  
  
  .search {
    padding: 0px;
    display: flex;
    margin-top: 52px;
    width: 100%;  
  }
  
  .field {
    box-sizing: border-box;
    width: 223px;
    padding-left: 18px;
    padding-right: 18px;
    height: 47px;
    background-color: #f4f7f6;
    border: none;
  }
  
  .field:hover {
    outline-color: #ffffff;
    border: 2px solid #b59f5b;
  }
  
  .field:focus {
    outline-color: #ffffff;
    border: 2px solid #b59f5b;
            
  }
  
  .button {
     background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
     background-repeat: no-repeat;
     width: 47px;
     height: 47px;
     background-size: 16px;
     background-position: center;
     background-color: #b59f5b;
     border: none;
  }
  
  .button:hover {
    
    background-color: black;
  }
  
  
  .email {
    display: inline-block;
    width: 100%;
    
  }
  
  .email_text {
    box-sizing: border-box;
    width: 100%;
    padding-left: 18px;
    padding-right: 18px;
    height: 45px;
    background-color: #f4f7f6;
    border: none;
    margin-top: 0;
  }
  
  .email_text:hover  {
    outline-color: #ffffff;
    border: 2px solid #b59f5b;
  }
  .email_text:focus  {
    outline-color: #ffffff;
    border: 2px solid #b59f5b;
  }
  
  .email_buttom {
    width: 100%;
    height: 45px;
    background-color: #b59f5b;
    border: none;
    font-family: OpenSans;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 18px;
  }
  
  .email_buttom:hover {
    background: black;
  }
  
  .skrinrider {
    font-size: 0px;
    
  }
  
  .tegi {
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    font-family: OpenSans, sans-serif;
    text-transform: uppercase;
    list-style-type: none;
    color: #000000;
    font-weight: bold;
    font-size: 14px;
    padding-top: 15px;
  }
  
  .tegi_1 {  
    display: block;
    padding: 8px 9px;
    color: #000000;
    
  }
  
  .teg_li {
    margin: 0px 7px 7px 0px;
    border: 3px solid #f4f3f1;
  }
  
  .tema {
    box-sizing: border-box;
    padding: 0px;
    list-style-type: none; 
  }
  
  .tema_1 {
    font-family: OpenSans, sans-serif;
    color: #000000;
    font-weight: bold;
    font-size: 14px;
    box-sizing: border-box;   
  }
  
  .tema_li {
    border-bottom: 1px solid #eeeeee;
    padding: 10px 0px;
  }
  
  
  .sup {
    font-family: OpenSans, sans-serif;
    color: #cabb92;
    font-size: 10px;
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
  }
  
  .aside_header {
    font-family: OpenSans, sans-serif;
    color: #000000;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
    
      
  }
  
  .aside_header:not(:first-child) {
    margin-top: 40px;
  }
  
  .aside_header:after{
    content:"";
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
    width: 66px;
    height: 3px;
    background: #e1d9bd;
  }

  .new_block_nashi_izdelia {
   
    max-width: 1200px;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;


  }

  .nashi_izdelia_contenier {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    
  }


  .nashi_izdelia {
    max-width: 28.75%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
   
  }

  .nashi_izdelia_img {
    display: flex;

   justify-content: center;
   margin-bottom: -30px;
  }

  .content_izdelia {
    display: inline-block;
    border: 2px solid #b59f5b;
    padding-top: 48px ;
    padding-left: 25px;
    padding-right: 25px;
    
  
  }

  .pokupka {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 24px;
    
  }

  .new_cena {
    font-family: OpenSans, sans-serif;
    font-size: 20px; 
    font-weight: bold;
  }

  .old_cena {
    font-family: OpenSans, sans-serif;
    font-size: 14px; 
    font-weight: bold;
    text-decoration: line-through;
  }

  .na_tovar {
    color:#b59f5b;
  }

 

  .v_mart {
    background-color: #b59f5b;
    border: none;
    font-family: OpenSans;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    padding: 15px 26px;
    
  }

  .v_mart:hover {
    background: black;
  }

  .paragraph_izdelia {
    font-family: OpenSans, sans-serif;
    font-size: 15px; 
  }

  .footer {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 54px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;  
    box-sizing: border-box;
  }
  
  .footer_icon {
    list-style-type: none;
    display: flex;
    justify-content: center;
    background-color: #f4f7f6;
    padding: 30px;
    box-sizing: border-box;
    
  }
  
  .social_icon_li {
    display: flex;
    width: 18px;
    margin-right: 26px;
  }
  
  .social_icon_li:last-child {
    margin-right: 0px;
  }
  
  
  .social_icon1 {
     background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/001-dribbble.svg");
     background-repeat: no-repeat;
    width:100%;
  
  }
  
  .social_icon2 {
     background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/002-pinterest.svg");
     background-repeat: no-repeat;
    width:100%;
  }
  
  .social_icon3 {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg");
     background-repeat: no-repeat;
     width:100%;  
  }
  
  .social_icon{
    color: #f4f7f6;
    font-size: 0px;
  }
   
  .Copyright {
    padding-top: 70px;
    padding-bottom: 42px;
    color: #999999;
    font-size: 12px;
    font-family: OpenSans, sans-serif;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  .tema_1:hover {
    color: #b59f5b;
  }
  .tegi_1:hover {
    color: #b59f5b;
  }
  .new_post_content:hover {
    color: #b59f5b;
  }
    
  .header__2:hover {
    color: #b59f5b;
  }
  .subtitle:hover {
    text-decoration: underline;
  }
  .menu_1:hover {
    text-decoration: underline;
  }

  .popup {
    max-width: 390px;
    position: absolute;
    left: calc(50% - 190px);
    top: calc(50% - 315px);
    background: #eeeeee;
    z-index: 2;
    display: none;
    
  }

 



  .nash_fidbek {
    box-sizing: border-box;
    flex-direction: column;
    padding: 54px 30px;
    width: 390px;
    font-family: OpenSans, sans-serif;
    font-size: 13px;
    border: 2px solid #f4f7f6;
    position: absolute;
    justify-content: center;
    align-items: center;
  }

  .krest_popup {
    margin-left: 340px;
  }

  .krest_popup:before {
    content: "";
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    display: inline-block;
    background: url("svg/form-x.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    border: none;
  }

   .select-label {
    margin-top: 28px;
    margin-bottom: 9px;
   }

   .vopros {
    margin-top: 36px;
    margin-bottom: 10px;
   }

  .select_pkd {
    width: 100%;
    height: 46px;
    background-color: #f4f7f6;
    appearance: none;
    background-image: url("svg/form-arrows.svg");
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: right 11px center;
    border: none;
    padding-left: 11px;
 
  }

  .form_radio1 {
    display: none;
  }

  .radio_text {
    display: inline-block;
    margin-right: 32px;
  }

  .radio_text:before {
    width: 25px;
    height: 25px;
    content: "";
    display: inline-block;
    vertical-align: middle;
    background: url("svg/form-empty-circle.svg");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center center;
    margin-right: 8px;
   
  }

  .form_radio1:checked + .radio_text:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    background: url("svg/form-circle.svg");
    background-size: 25px;
    background-repeat: no-repeat;
    
  }

  .text1 {
    margin-top: 32px;
    margin-bottom: 10px;
  }



  .text2 {
    width: 100%;
    min-height: 130px;
    background-color: #f4f7f6;
    appearance: none;
    
  }

@media (min-width: 361px) and (max-width: 768px) {

  .navigation {
    display: flex;
    justify-content: space-between;
    max-width: 91%; 
  }

  .header {
    max-width: 100vw;
    background-image: url("images/banner-bg-tablet.jpg");
  }

  .logo {
    max-width: 20.2%;  
  }


  .menu_li {
    display: none;
  }

  .menu::before {
    content: "";
    border-top: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    padding: 3px;
    width: 24px;
    margin-left: 300px;
  }

  .header__1 {
    font-size: 40px;
    width: 82%;
  }

  .new_blok_trend {
    flex-wrap: wrap;
  }

  .trend_contanier {
    margin-top: 1px;
    min-width: 49.9%;
  }

  .travel_1 {
    flex-direction: column;
    border-bottom: 2px solid #afabab;
    margin-left: 35px;
  }

  .paragraph {
    margin-bottom: 23px;
  }

  .contanier {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    max-width: 385px;
  }

  .colum {
    margin-right: 35px;
    margin-left: 35px;
  }

  .nashi_izdelia_contenier {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    box-sizing: border-box;
    min-width: 700px ;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 25px;
  }


  .nashi_izdelia {
    margin-top: 23px;
  }
}

@media (max-width: 360px) {


 
  .header {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 217px;
    max-width: 100%;
    background-image: url("images/banner-mobile.jpg");

  }
    
  
  .navigation {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 100%;
  }

  .logo {
    margin-top: 165px;
    min-width: 270px;  
  }

  .header__1 {
    font-size: 1.625rem;
    margin-top: 0px;
    max-width: 280px;
  }

  .menu_li {
    display: none;
  }

  .menu::before {
    content: "";
    border-top: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    padding: 3px;
    width: 24px;
    margin-left: 300px;
  }

  .new_block_trend_header {
    margin-top: 44px;
  }

  .new_blok_trend {
    flex-wrap: wrap;
  }


  .trend_contanier {
    margin-top: 1px;
    min-width: 100%;
  }


  .image {
    max-width: 330px;
  }

  .travel_1 {
    margin-top: 28px;
    flex-direction: column;
    border-bottom: 2px solid #afabab;
  }

  .conrent_trend {
    font-size: 1rem;
  }

  .paragraph {
    margin-bottom: 23px;
  }

  .paragraph:first-of-type {
    margin-top: 17px;
  }
  
  .contanier {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
  }

 .content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 330px;
  margin-top: 45px;
  
  }

  .paragraph {
    margin-top: 14px;

  }

  .colum {
    width: 100%;
    padding: 0px;
    margin: 0px;
  }



  .nashi_izdelia_contenier {
    flex-wrap: wrap;
    min-width: 330px ;
    justify-content: start;
    margin-left: 0px;
    
  }

  .nashi_izdelia {
    margin-top: 23px;
  }

}